absl-py==2.0.0
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.13
albumentations==1.3.0
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.1.0
Autologging==1.3.2
Babel==2.14.0
cachetools==5.3.2
certifi==2022.12.7
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
conf==0.4.1
cycler==0.11.0
cymem==1.31.2
Cython==3.0.7
cython-bbox==0.1.5
cytoolz==0.9.0.1
datasets==2.13.2
dependency-injector==4.41.0
dill==0.3.6
docutils==0.19
exceptiongroup==1.2.0
fastapi==0.103.2
filelock==3.12.2
fire==0.5.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
GDAL==3.4.2
google-auth==2.26.0
google-auth-oauthlib==0.4.6
grpcio==1.60.0
h11==0.14.0
haversine==2.8.0
huggingface-hub==0.16.4
idna==3.6
imageio==2.27.0
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==6.7.0
install==1.3.5
Jinja2==3.1.2
joblib==1.3.2
jsonargparse==4.27.1
kiwisolver==1.4.5
kornia==0.6.12
lapx==0.5.5
lightning-utilities==0.10.0
llvmlite==0.39.1
loguru==0.7.2
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.5.3
mdurl==0.1.2
msgpack==0.6.2
msgpack-numpy==0.4.8
multidict==6.0.4
multiprocess==0.70.14
networkx==2.6.3
nltk==3.7
numba==0.56.4
numpy==1.21.6
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.8.1.78
packaging==23.2
pandas==1.3.5
Pillow==9.5.0
pip==23.3.2
preshed==1.0.1
protobuf==3.20.3
psutil==5.9.7
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycocotools==2.0.7
pydantic==2.5.3
pydantic_core==2.14.6
pyDeprecate==0.3.2
pyexiv2==2.11.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytorch-lightning==1.9.5
pytz==2023.3.post1
PyWavelets==1.3.0
PyYAML==6.0.1
qudida==0.0.4
recommonmark==0.7.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
safetensors==0.4.1
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
setuptools==57.4.0
shapely==2.0.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
spacy==2.0.11
Sphinx==5.3.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.27.0
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
terminaltables==3.1.10
thinc==6.10.3
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.9.12
tokenizers==0.13.3
toolz==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.10.1
torchvision==0.13.1+cu113
tqdm==4.66.1
transformers==4.30.2
typing_extensions==4.7.1
ujson==5.4.0
ultralytics==8.0.145
urllib3==2.0.7
uvicorn==0.22.0
Werkzeug==2.2.3
wheel==0.38.4
win32-setctime==1.1.0
wincertstore==0.2
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.15.0
